services:

  backend:
    image: ajbot:0.4.0
    restart: unless-stopped
    pull_policy: never
    container_name: ajbot
    build:
      context: .
      dockerfile: Dockerfile
      target: runner
    volumes:
      - ".env:/.env"
