{
    "discord": {
        "creds": "ABCD123",
        "guild": 1234567890123456789,
        "owner": 0,
        "role_manager": [
            1234567890123456789,
            1234567890123456789
        ],
        "role_member": [
            1234567890123456789,
            1234567890123456789,
            1234567890123456789
        ]
    },
    "db": {
        "host": "",
        "port": 0,
        "creds": {
            "user": "",
            "password": ""
        },
        "db_name": "",
        "db_echo": false
    }
}