{
    "discord": {
        "creds": "ABCD123",
        "guild": 1234567890123456789,
        "roles": {
            "owners": [
                1234567890123456789,
                1234567890123456789
            ],
            "managers": [
                1234567890123456789,
                1234567890123456789
            ],
            "members": [
                1234567890123456789,
                1234567890123456789,
                1234567890123456789
            ],
            "subscriber": 1234567890123456789,
            "past_subscriber": 1234567890123456789
        }
    },
    "asso": {
        "roles": {
            "subscriber": 1234567890123456789,
            "past_subscriber": 1234567890123456789,
            "member": 1234567890123456789
        },
        "role_reset_time_days": 150,
        "free_presence": 2
    },
    "db": {
        "host": "",
        "port": 0,
        "creds": {
            "user": "",
            "password": ""
        },
        "db_name": "",
        "db_cache_time_sec": 3600,
        "db_echo": false
    }
}